/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #25272e; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(92, 93, 117); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

html {
}

html, body {
  height: 100%;
  box-sizing: border-box;
}

body {
  max-width: 40rem;
  margin: 0 auto;
  font-family: Inter;
  background-color: #373b4a;
  color: rgba(255, 255, 255, 0.95);
  line-height: 1.5em;
  padding: 2rem 1rem;
  text-shadow: 0 0px 5px rgba(0, 0, 0, 0.35);
}

h2 {
  margin-top: 3rem;
}

a {
  color: rgba(255, 255, 255, 0.95)
}

img {
  display: block;
  margin: 150vh auto 3rem;
  max-width: 100%;
}

.map {
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.35);
  margin-bottom: 1rem;
}